@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@800&family=Roboto:ital,wght@0,100;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  font-size: 18px;
}
