.banner__Section {
  display: flex;
  justify-content: center;
  padding: 3.5rem;
}
.banner__Section--Info {
  margin-right: 1.5rem;
  width: 60%;
}
.banner__Image {
  background-image: url("../../assets/images/image-web-3-desktop.jpg");
  background-repeat: no-repeat;
  height: 350px;
}

.banner__Text {
  display: flex;
  margin-top: 3rem;
}
.banner__Text > h1 {
  font-size: 50px;
  font-weight: bolder;
}

.banner__Text--Button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  font-size: 18px;
  font-weight: 500;
}

.banner__Text--Button > button {
  margin-top: 2rem;
  height: 60px;
  width: 150px;
  color: var(--off-white);
  background-color: var(--Soft-red);
  border: none;
  cursor: pointer;
  color: var(--Off-white);
}

.aside__Section--1 > h1 {
  color: var(--Soft-orange);
  font-size: 35px;
  padding-bottom: 1rem;
}

.banner__Section--Aside {
  width: 350px;
  background-color: var(--Very-dark-blue);
  color: white;
  padding-left: 1.5rem;
}

.banner__Section--Aside > div {
  padding: 2rem;
}

.aside__Title {
  padding-bottom: 10px;
}

@media (max-width: 768px) {
  .banner__Section {
    flex-direction: column;
    align-items: center;
  }
  .banner__Section--Info {
    width: auto;
  }
  .banner__Text {
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .banner__Text > h1 {
    margin-bottom: 1rem;
  }
}
